/* Specify the font that will be used for the whole file */
@font-face{
  font-family: Roboto;
  src: url(../images/RobotoSlab.ttf);
}

/* Set of designs that will affect all the elements */
* {
  margin: 0;
  font-family: Roboto;
}

body {
  background-color: rgba(40, 245, 255, 0.1);
}

main{
  min-height: calc(100vh - 100px - 95px);
}


/* Add a design to the scrollbar. Just works on chrome*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #283EFF;
}

/*######## HEADER ########*/
#header_container{
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 7px 8px rgba(40, 245, 255, 0.2);
}

#logo_container{
  width: 30%;
  margin: 10px 0px 10px 10px;
}

#header_logo{
  width: 100%;
  max-width: 300px;
  max-height: 70px;
}

#menu_full_page{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
}

.menu_option{
  display: flex;
  gap: 2%;
  padding: 5px 20px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  min-width: 140px;
  border-radius: 20px;
  justify-content: center;
}

.active p{
  text-decoration: underline;
}

.menu_option:hover{
  background-color: #4C61FF;
  color: #FFFFFF;
}

#user_part{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

#signin_button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  gap: 2%;
  background-color: #4C61FF;
  color: #FFFFFF;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

#user_logged{
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}

#user_logged > ion-icon {
  width: 24px;
  height: 24px;
}

#user_logged > img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

#user_logged > p{
  font-size: 18px;
}

#sidebar_user{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background-color: #9ce6ff;
}

#logged_user{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin: 20px auto;
  border-bottom: 1px solid #111166;
}

#logged_user > img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
}

#logged_user > p{
  font-size: 18px;
  margin-bottom: 20px;
}

#user-menu{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.menu-button{
  margin: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.menu-button:hover{
  background-color: #7ac4dd;
}

/*##### END HEADER #####*/

/*Design for the breadcrum*/
#breadcrum{
  width: 100%;
  color: #989898;
  font-size: 14px;
}

#breadcrum p{
  text-indent: 20px;
  margin-top: 10px;
}

/*################### START SEARCH BAR ###################*/
#search_tool {
  display: flex;
  width: 75%;
  background-color: #4C61FF;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  flex-direction: column;
}

#search_tool h2{
  color: #FFFFFF;
  margin: 10px auto;
}

#search_tool h3{
  color: #FFFFFF;
  margin: 10px auto;
}

#filters_container{
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: center;
}

.filter{
  position: relative;
  width: 28%;
  height: 60px;
  gap: 5%;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filter input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 15px;
}

.filter div{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.filter:hover{
  background-color: #9ce6ff;
}

input[type=checkbox]:checked ~ div {
  background-color: #9ce6ff;
}

#search_bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 2%;
}

#search_bar input[type="search"]{
  width: 80%;
  height: 55px;
  border-radius: 30px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 18px;
  text-indent: 10px;
}

#search_bar button{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 1px solid #000000;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

#search_bar button:hover{
  background-color: #9ce6ff;
}
/*################### END SEARCH BAR ###################*/

/*################### START EXPERIENCES ###################*/
#experiences {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 30px auto;
  gap: 3%;
  text-align: left;
}

.exp-container {
  position: relative;
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 25px;
  min-height: 400px;
  border: 1px solid #000000;
  text-align: left;
}

.text-container{
  text-align: left;
  text-indent: 10px;
}

.image-container {
  width: 100%;
  height: 350px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
  margin-bottom: 1%;
}

.like-circle{
  padding: 12px;
  border-radius: 50%;
  background-color: #F3F3F3;
  position: absolute;
  font-size: 18px;
  top: 2.5%;
  right: 2.5%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-circle-active{
  padding: 12px;
  border-radius: 50%;
  background-color: #F3F3F3;
  position: absolute;
  font-size: 18px;
  top: 2.5%;
  right: 2.5%;
  display: none;
  align-items: center;
  cursor: pointer;
}

/*################### END EXPERIENCES ###################*/

/*################### START SEARCH RESULTS ###################*/
#search_results {
  display: none;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#extra_filters {
  background-color: #BCE0FF;
  width: 100%;
  border-radius: 10px;
}

#budget {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 5px auto;
  align-items: center;
  justify-content: center;
}

#budget_range{
  display: flex;
  gap: 3%;
  width: 60%;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

#bottom_filters{
  display: flex;
  width: 90%;
  margin: 5px auto 10px auto;
  align-items: center;
  justify-content: center;
}

#order_by {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#select_order{
  background-color: #FFFFFF;
  width: 60%;
  border: none;
  border-radius: 15px;
}

#features {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#select_feature{
  background-color: #FFFFFF;
  width: 60%;
  border: none;
  border-radius: 15px;
}

#results_right {
  width: 100%;
  margin: 0px;
}

#head_content {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  justify-content: flex-start;
  align-items: center;
}

.result_experience {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 15px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 20px auto;
  min-height: 200px;
  gap: 3%;
}

.result_img {
  width: 30%;
  border-radius: 15px 0px 0px 15px;
  margin: 0px;
  object-fit: cover;
}

.result_info {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.text_info{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text_info p{
  margin-bottom: 10px;
}

.title_info{
  font-weight: bold;
}

.result_desc {
  width: 40%;
  margin: 10px;
}
/*################### END SEARCH RESULTS ###################*/

/*################### START EXPERIENCES POP UPS ###################*/
.popup_content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.popup_info {
  height: 45%;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.popup_img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.popup_details {
  display: flex;
  gap: 2%;
  width: 60%;
}

.details_info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details_rest{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tags_row {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin: 10px 0px;
}

.tag {
  background-color: #BCE0FF;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.principal{
  background-color: #4C61FF;
  color: #FFFFFF;
}

.details_title {
  font-weight: bold;
  font-size: 20px;
}

.interaction_buttons {
  display: flex;
  column-gap: 3%;
}

.interaction_buttons ion-icon {
  font-size: 30px;
}

.popup_desc {
  height: 45%;
  width: 95%;
  background-color: #D9DADB;
  border-radius: 10px;
  margin-bottom: 20px;
}
/*################### END EXPERIENCES POP UPS ###################*/

/*################### START FOOTER ###################*/

/* Specify the format of the elements inside the footer */
#footer_container{
  background-color: #FFFFFF;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0px -7px 8px rgba(40, 245, 255, 0.2);
  min-height: 40px;
  justify-content: center;
  align-items: center;
}


#footer_logo{
  width: 100%;
  max-width: 300px;
  max-height: 70px;
}

.footer_links {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.footer_links ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

.footer_links ul li {
    display: flex;
    justify-content: stretch;
    width: 50%;
}

.footer_links ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 10vh;
    margin: 0 10%;
    padding: 2% 15%;
    font-size: 1.3vmax;
}

.footer_icons {
    display: flex;
    justify-content: flex-end;
}
.fa {
    padding: 1vw;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 0.5vw;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/*################### END FOOTER ###################*/

/*################### START POPUP ###################*/
/* Common class for all popups. It creates the semi-opaque background*/
.popup{
  background: rgba(67, 121, 197, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Actual white pop up that contains all the content of the different popups*/
.popup-window{
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  position: relative;
  display: flex;
}

/* Generic button to close all the popups*/
.close{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

/*Login popup*/
#login-container{
  width: 350px;
}

.popup-logo{
  margin-top: 10px;
  max-width: 150px;
  max-height: 60px;
}

.popup-header p{
  font-size: 20px;
  margin-bottom: 20px;
}

#login-content{
  display: flex;
  flex-direction: column;
}

#login-content p{
  font-size: 18px;
  margin: 0px auto 5px auto;
  text-align: left;
  width: 80%;
}

#login-content input{
  margin: 0px auto 20px auto;
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

#login-content input[type="submit"]{
  width: 60%;
  background-color: #4C61FF;
  color: #FFFFFF;
  cursor: pointer;
}

.other-option p{
  margin-bottom: 10px;
}

.other-option div{
  cursor: pointer;
  width: 60%;
  background-color: #4C61FF;
  color: #FFFFFF;
  margin: 0px auto 20px auto;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 18px;
}

/*Sign up popup*/
#signup-container{
  width: 500px;
  height: 700px;
  overflow-y: scroll;
}

#signup-content{
  display: flex;
  flex-direction: column;
}

#comp-name-sur{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}

.comp-ns{
  display: flex;
  flex-direction: column;
  margin: 0px auto 15px auto;
}

#signup-content p{
  font-size: 14px;
  margin: 0px auto 5px auto;
  text-align: left;
  width: 80%;
}

#signup-content input{
  margin: 0px auto 15px auto;
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

#signup-content input[type="submit"]{
  width: 60%;
  background-color: #4C61FF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
}

#signup-content div input{
  margin: 0px;
  width: auto;
}

.check-div {
  margin: 0px auto 15px auto;
  width: 80%;
  text-align: left;
}

/*################### END POPUP ###################*/

/*##### RESPONSIVE PART #####*/

@media screen and (max-width: 1100px) {
  .exp-container{
    width: 48%;
  }

  .popup_content{
    width: 800px;
  }
}

@media screen and (max-width: 930px) {
  #header_container{
    flex-wrap: wrap;
  }

  #logo_container{
    width: 45%;
    order: 1;
  }

  #user_part{
    width: 45%;
    order: 2;
  }

  #user_part > div{
    justify-content: flex-end;
  }

  #menu_full_page{
    order: 3;
    flex-direction: column;
    width: 100%;
  }

  #menu_full_page > div{
    margin: 10px;
  }

  #sidebar_user{
    width: 50%;
  }

  #footer_container{
    flex-direction: column;
  }

  #logo_container_f{
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }

  .footer_links{
    order: 3;
    width: 100%;
  }

  .footer_icons{
    order: 2;
    width: 80%;
    margin: 10px auto;
  }

  #signup-container{
    width: 400px;
  }

  #comp-name-sur{
    flex-direction: column;
    width: 100%;
  }

  .popup_content{
    width: 600px;
  }

  .popup_info{
    flex-direction: column;
    width: 90%;
    height: 60%;
    margin: 0px auto 20px auto;
  }

  .popup_img{
    width: 100%;
  }

  .popup_details{
    width: 100%;
  }

  .details_info{
    width: 50%;
  }

  .details_rest{
    width: 50%;
  }

  .popup_desc{
    height: 30%;
  }

  .tags_row{
    justify-content: flex-start;
  }
}

@media screen and (max-width: 700px) {
  #search_tool{
    width: 85%;
  }

  #filters_container{
  flex-direction: column;
  margin: 10px 0px;
  }

  .filter{
    width: 80%;
    height: 30px;
    font-size: 16px;
    margin: 5px auto;
  }

  #search_bar{
    width: 85%;
    margin: 0px auto 20px auto;
  }

  #order_by h4 {
    font-size: 14px;
  }

  #select_order{
    width: 50%;
  }

  #select_feature{
    width: 50%;
  }

  #features h4 {
    font-size: 14px;
  }

  #budget h4 {
    font-size: 14px;
  }

  #search_bar input[type="search"]{
    width: 80%;
    height: 24px;
    font-size: 14px;
  }

  #search_bar button{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    font-size: 16px;
  }

  .exp-container{
    width: 100%;
  }

  .result_experience{
    flex-direction: column;
  }

  .result_img{
    width: 100%;
  }

  .result_info{
    width: 100%;
    flex-direction: row;
  }

  .text_info{
    width: 45%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto;
  }

  .tags_row{
    width: 45%;
    margin: 0px auto;
  }

  .result_desc{
    width: 95%;
  }

  .popup_content{
    width: 400px;
  }
}
