/*################### CHATS ###################*/
.messages-container{
  flex-direction: row;
  display:flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/*################### LEFT PART ###################*/
.people-chats {
  display:flex;
  flex-direction: column;
  height: 500px;
  width: 30%;
  display: flex;
  margin-top: 20px;
  background-color: #E7E7E7;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
}

.selected-chat{
  position: relative;
  width: 100%;
  height: 28%;
  display: flex;
  background-color: #8F8C8C;
  border: 1px solid #000000;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.main-chat{
  position: relative;
  width: 100%;
  height: 14%;
  display: flex;
  margin-bottom: 5px;
  background-color: #79BAF7;
  border-radius: 25px 25px 0px 0px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.secondary-chat{
  position: relative;
  width: 100%;
  height: 14%;
  display: flex;
  background-color: #D6D6D6;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

/*################### RIGHT PART ###################*/
.open-chat{
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  float: left;
  position: relative;
  width: 60%;
  height:500px;
  display: flex;
  flex-direction: column;
  background-color: #D6D6D6;
  border-radius: 25px;
}
.name-bar{
  position: relative;
  height:14%;
  width: 100%;
  display: flex;
  background-color: #4379C5;
  border-radius: 25px 25px 0px 0px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #FFFFFF;
}
.other-message{
  margin: 10px;
  position: relative;
  height:10%;
  width: 10%;
  display: flex;
  background-color: #8F8C8C;
  border-radius: 25px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.user-message{
  position: relative;
  height:10%;
  width: 10%;
  display: flex;
  background-color: #79BAF7;
  border-radius: 25px;
  justify-content: center;
  box-sizing: border-box;
  float:right;
  vertical-align: middle;
  align-items: center;
  left: 89%;
  color: #FFFFFF;
}
.write-bar{
  top: 55%;
  position: relative;
  height: 7%;
  width: 100%;
  display: flex;
  background-color: #4379C5;
  border-radius: 25px;
  align-items: center;
  text-indent: 2px;
}
/*################### RESPONSIVE PART ###################*/
@media only screen and (max-width:1300px) {
  /* For tablet device: */
  .open-chat {
    margin-left:20px;
  }
  .text{
    font-size: 13px;
  }
  .user-message{
    width: 20%;
    left: 78%;
  }
  .other-message{
    width: 20%;
  }

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .open-chat {
    margin-left:20px;
  }
  .text{
    font-size: 10px;
  }
  .user-message{
    width: 30%;
    left: 67%;
  }
  .other-message{
    width: 30%;
  }
