

/*##### PROFILE INFO ######*/
#profile_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  background-color: #4C61FF;
  border-radius: 20px;
}

#top_part{
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 20px auto;
}

#img_profile{
  width: 30%;
  height: 85%;
  margin: auto 0px;
  display: flex;
}

#profile{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px auto;
}

#profile_info{
  width: 70%;
  height: 95%;
  margin: auto 0px;
  background-color: #9ce6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  border-radius: 20px;
}

#basic_info{
  width: 45%;
  margin: 10px auto;
}

#basic_info h3{
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#basic_info h4{
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: 5px;
}

#basic_info p{
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#additional_info{
  width: 45%;
  margin: 10px auto;
}

#additional_info h3{
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#additional_info h4{
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: 5px;
}

#additional_info p{
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#bottom_part{
  width: 100%;
  margin: 0px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#change_profile{
  width: 30%;
  padding: 5px 0px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: 0px auto;
  cursor: pointer;
  transition: 0.4s
}

#change_profile:hover{
  background-color: #9ce6ff;
}

/*##### END PROFILE INFO #####*/

/*##### EXPERIENCES PART #####*/
#experiences_part{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#button_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_text{
  width:50%;
}

.button_text button{
  border:none;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  font-size: 20px;
  background-color: #9ce6ff;
  cursor: pointer;
}

#button_collections button{
  background-color: #4C61FF;
  color: #FFFFFF;
}

.button_text button:hover{
  background-color: #4C61FF;
  color: #FFFFFF;
}

#collections_display{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  gap: 4%;
  margin: 20px auto 100px auto;
}

.collection{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 1px solid #4C61FF;
  background-color: #FFFFFF;
}

.collection img{
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.collection h3{
  width: 80%;
  height: 10%;
  margin: auto;
  text-align: center;
}

.options{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 0px 15px 0px 0px;
}

.options p{
  width: 100%;
  height: 50%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options p:hover{
  background-color: #D2D2D2;
}

.options_exp{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 0px 15px 0px 0px;
}

.options_exp p{
  width: 100%;
  height: 33%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options_exp p:hover{
  background-color: #D2D2D2;
}

#add_new_collection{
  background: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#add_new_collection img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  opacity: 40%;
}

#add_new_collection p{
  opacity: 40%;
}

#experiences_display{
  display: none;
  flex-wrap: wrap;
  width: 95%;
  margin: 20px auto 100px auto;
  gap: 4%;
}

.experience{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 1px solid #4C61FF;
  background-color: #FFFFFF;
}

.experience img{
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.experience h4{
  width: 80%;
  height: 10%;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.experience h4:hover{
  text-decoration: underline;
}

#add_new_experience{
  background: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#add_new_experience img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  opacity: 40%;
}

#add_new_experience p{
  opacity: 40%;
}

/*##### ADD COLLECTION #####*/
#add_collection_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

#add_collection_container h3{
  margin: 20px auto;
}

#add_coll_form{
  width: 80%;
  margin: 0px auto 40px auto;
}

#add_coll_image{
  height: 80%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#add_coll_image img{
  width: 100%;
  height: 100%;
  margin: auto;
}

#add_coll_title{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

#add_coll_title input[type="text"]{
  padding: 5px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
}

#add_coll_title input[type="submit"]{
  background-color: #4C61FF;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

#add_coll_image label input{
  display: none;
}

/*##### ADD EXPERIENCE #####*/
#add_experience_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  overflow-y: scroll;
  height: 650px;
  margin: 20px auto;
}

#add_experience_container h3{
  margin: 20px auto;
  height: 10%;
}

#add_exp_form{
  width: 100%;
  height: 90%;
}

#img_add_exp{
  width: 90%;
  margin: 10px auto;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img_add_exp img{
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

#img_add_exp label input{
  display: none;
}

#short_q_add_exp{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#short_q_add_exp p{
  width: 90%;
  text-align: left;
  margin: 5px auto;
}

#short_q_add_exp input{
  width: 90%;
  border-radius: 10px;
  text-indent: 10px;
  background-color: #F0F0F0;
  border: none;
  font-size: 14px;
}

#add_exp_bottom_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add_exp_bottom_section p{
  width: 90%;
  text-align: left;
  margin: 5px auto;
}

#add_exp_bottom_section textarea{
  resize: none;
  width: 90%;
  border-radius: 10px;
  text-indent: 10px;
  background-color: #F0F0F0;
  border: none;
  font-size: 14px;
}

#add_exp_cat{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#add_exp_tag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}

#add_exp_button{
  width: 100%;
  margin: 20px auto;
}

#create_experience{
  background-color: #4C61FF;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 70%;
  margin: 0px auto;
}

/*##### EDIT COLLECTION #####*/
#edit_collection_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

#edit_collection_container h3{
  margin: 20px auto;
}

#edit_coll_form{
  width: 80%;
  margin: 0px auto 40px auto;
}

#edit_coll_image{
  height: 80%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#edit_coll_image img{
  width: 100%;
  height: 100%;
  margin: auto;
}

#edit_coll_title{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

#edit_coll_title input[type="text"]{
  padding: 5px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
}

#edit_coll_title input[type="submit"]{
  background-color: #4C61FF;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

#edit_coll_image label input{
  display: none;
}

/*###### EDIT EXPERIENCE ######*/
#edit_experience_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  overflow-y: scroll;
  height: 650px;
  margin: 20px auto;
}

#edit_experience_container h3{
  margin: 20px auto;
  height: 10%;
}

#edit_exp_form{
  width: 100%;
  height: 90%;
}

#img_edit_exp{
  width: 90%;
  margin: 10px auto;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img_edit_exp img{
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

#img_edit_exp label input{
  display: none;
}

#short_q_edit_exp{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#short_q_edit_exp p{
  width: 90%;
  text-align: left;
  margin: 5px auto;
}

#short_q_edit_exp input{
  width: 90%;
  border-radius: 10px;
  text-indent: 10px;
  background-color: #F0F0F0;
  border: none;
  font-size: 14px;
}

#edit_exp_bottom_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit_exp_bottom_section p{
  width: 90%;
  text-align: left;
  margin: 5px auto;
}

#edit_exp_bottom_section textarea{
  resize: none;
  width: 90%;
  border-radius: 10px;
  text-indent: 10px;
  background-color: #F0F0F0;
  border: none;
  font-size: 14px;
}

#edit_exp_cat{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#edit_exp_tag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}

#edit_exp_button{
  width: 100%;
  margin: 20px auto;
}

#edit_experience{
  background-color: #4C61FF;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 70%;
  margin: 0px auto;
}

/*##### GENERIC EXPERIENCE POPUP*/
#generic_content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#generic_top_part {
  height: 45%;
  width: 95%;
  display: flex;
  margin: 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
}

#generic_img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#generic_info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#generic_details{
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

#generic_details p{
  margin: 5px 0px;
}

#generic_title{
  font-weight: bold;
}

#generic_tags{
  width: 100%;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  gap: 3%;
}

.generic_tag {
  background-color: #BCE0FF;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.generic_cat{
  background-color: #4C61FF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

#generic_bottom_part{
  height: 45%;
  width: 95%;
  background-color: #D9DADB;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}


@media screen and (max-width: 1050px) {
  #top_part{
    flex-direction: column;
  }
  #img_profile{
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
  }
  #profile_info{
    width: 90%;
  }
  #change_profile{
    width: 70%;
  }
  #generic_top_part{
    flex-direction: column;
    height: 60%;
  }
  #generic_bottom_part{
    height: 30%;
  }
  #generic_img{
    width: 90%;
    margin: 10px auto;
  }
  #generic_info{
    width: 95%;
    margin: 0px auto 10px auto;
  }
  #generic_details{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
  }
  #generic_content{
    width: 700px;
    height: 650px;
  }
}

@media screen and (max-width: 900px){
  #collections_display{
    justify-content: center;
    align-items: center;
  }
  #experiences_display{
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  #profile_info{
    flex-direction: column;
  }
  #basic_info{
    width: 90%;
  }
  #additional_info{
    width: 90%;
  }
  #change_profile{
    margin-top: 10px;
  }

  #generic_content{
    width: 400px;
  }
  #generic_top_part{
    margin: 10px 0px;
    height: 40%;
  }
  #generic_bottom_part{
    height: 40%;
    width: 90%;
  }
  #generic_img{
    height: 55%;
  }
  #generic_info{
    height: 30%;
    font-size: 14px;
  }

  #generic_details{
    margin-top: 0px;
  }
  #generic_desc{
    font-size: 12px;
  }

}

/*##CHANGE PROFILE POPUP##*/
#change_profile_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 650px;
  border-radius: 20px;
}

.my_profile_info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#change_image{
  width: 150px;
  height: 150px;
  margin: auto 0px;
  display: flex;
}

#my_profile_avatar{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px auto;
}

#file_avatar_change{
  margin: 1% 0;
}

.my_profile_info img{
  border-radius: 50%;
  object-fit: cover;
}

.profile_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  height: 60%;
}

.profile_form button{
  border: 1px solid #000000;
  width: 80%;
  height: 15%;
  padding: 10px 0px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #4C61FF;
  cursor: pointer;
  border-radius: 15px;
  margin: 1% 0;
}

.profile_form input[type="text"]{
  margin: 0px auto 15px auto;
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border-radius: 10px;
  font-size: 12px;
}

.profile_form textarea {
  resize: none;
  margin: 0px auto 15px auto;
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border-radius: 10px;
  font-size: 12px;
}
