/*################### CHATS ###################*/
.message-container{
  flex-direction: row;
  width: 100%;
}

/*################### LEFT PART ###################*/
.people-chats {
  display:flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  width: 30%;
  display: flex;
  margin-top: 20px;
  background-color: #E7E7E7;
  border-radius: 25px 25px 25px 25px;
  border: 0px solid #000000;
  text-align: center;
  margin left:10px;
}

.selected-chat{
  position: relative;
  width: 100%;
  height: 28%;
  display: flex;
  background-color: #8F8C8C;
  border: 1px solid #000000;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.main-chat{
  position: relative;
  width: 100%;
  height: 14%;
  display: flex;
  margin-bottom: 5px;
  background-color: #79BAF7;
  border-radius: 25px 25px 0px 0px;
  border: 0px solid #000000;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.secondary-chat{
  position: relative;
  width: 100%;
  height: 14%;
  display: flex;
  background-color: #D6D6D6;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

/*################### RIGHT PART ###################*/
.open-chat{
  display: flex;
  float: left;
  position: relative;
  width: 30%;
  height:400px;
  display: flex;
  flex-direction: column;
  background-color: #D6D6D6;
  border-radius: 25px;
  border: 0px solid #000000;
  text-align: center;
}
.name-bar{
  position: relative;
  height:14%;
  width: 100%;
  display: flex;
  background-color: #4379C5;
  border-radius: 25px 25px 0px 0px;
  border: 0px solid #000000;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}
.other-message{
  position: relative;
  height:14%;
  width: 100%;
  display: flex;
  background-color: #8F8C8C;
  border-radius: 25px;
  border: 0px solid #000000;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}
.user-message{
  position: relative;
  height:14%;
  width: 100%;
  display: flex;
  background-color: #79BAF7;
  border-radius: 25px;
  border: 0px solid #000000;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}
.write-bar{
  top: 300px;
  position: relative;
  height: 5%;
  width: 100%;
  display: flex;
  background-color: #4379C5;
  border-radius: 25px;
  border: 0px solid #000000;
  text-align: center;
}
