#search_results {
  display: flex;
  width: 90%;
  padding:10px;
  margin: 20px auto;
  gap: 5%;
}

#extra_filters {
  background-color: #BCE0FF;
  width: 20%;
}

#budget {
  margin: 10px 15px;
}

#order_by {
  margin: 10px 15px;
}

#features {
  margin: 20px 20px;
}

#results_right {
  width: 80%;
  margin: 0px;
}

#head_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.result_experience {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.result_img {
  width: 30%;
  margin: 0px;
}

.result_info {
  width: 30%;
  margin: 10px;
}

.result_desc {
  width: 40%;
  margin: 10px;
}

.tags_row {
  display: flex;
  gap: 3%;
}

.tag {
  background-color: #BCE0FF;
  border-radius: 5px;
  padding: 5px;
}

/* Pop ups */
.popup_content {
  height: 650px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left;
}

.popup_info {
  height: 45%;
  display: flex;
  margin-bottom: 20px;
}

.popup_img {
  width: 40%;
  border-radius: 10px;
}

.popup_details {
  margin: 20px 0px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.details_title {
  font-weight: bold;
  font-size: 20px;
}

.interaction_buttons {
  display: flex;
  column-gap: 3%;
}

.interaction_buttons ion-icon {
  font-size: 30px;
}

.popup_desc {
  height: 45%;
  width: 95%;
  background-color: #D9DADB;
  border-radius: 10px;
  padding: 20px;
}
